.search-btn {
  background-color: black;
  border: 0;
  border-radius: 8px;
  padding: 14px;
  height: 44px;
  transition: opacity 0.3s ease;
}

.search-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}
