.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search__container {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.search__input {
  width: 100%;
  height: 50px;
  background-color: #f9f9f9;
  border: 0;
  border-radius: 8px;
  padding: 0;
  padding-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  outline: none;
}

.search__input:focus {
  box-shadow: 0px 0px 1px 1px #2be080;
}

.search__checkbox-wrapper {
  display: flex;
  gap: 12px;
  width: 100%;
  justify-content: center;
  padding: 28px 0 39px;
  border-bottom: 1px solid #e8e8e8;
  align-items: center;
}

.search__checkbox-text {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

@media screen and (max-width: 505px) {
  .search__checkbox-wrapper {
    padding-top: 46px;
  }
  .search__checkbox-text {
    font-size: 11px;
  }
}
